/* scss-lint:disable QualifyingElement Comment SelectorFormat */

input[type='checkbox'] {
  display: inline;
  margin-right: 10px;
  width: 15px;
}

div.panel-title {
  .data {
    font-size: 0.9em;
  }
}

.bulk-add .panel-contents {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: "walks users users wl"
                      "booked booked waiting waiting";

  .added::before, .waiting-list::before {
    @import './watermark2.css';
  }
  .added-members {
    grid-area: booked;
    &::before {
      /*@import './watermark2.css';*/

      content: 'Booked';
      color: blue;
      font-size: 600%;
      left: -20%;
      top: 20%;
      transform: rotate(45deg);
    }
  }

  .select {
    grid-area: users;
  }

  .add-to-wl {
    grid-area: wl;
  }

  .walkSelect {
    grid-area: walks;
  }

  .waiting-list {
    grid-area: waiting;
    grid-template-rows: repeat(4, 23px);
    &::before {
      /*@import './watermark2.css';*/

      content: 'Waiting List';
      color: blue;
      font-size: 600%;
      left: 45%;
      top: 25%;
      transform: rotate(45deg);
    }

    .member {
      span {
        display: inline-block;
        width: 150px;
      }
    }
  }

  .added-members,
  .waiting-list {
    display: grid;
    padding-top: 10px;
    width: 100%;
    height: 90%;
    align-items: center;
    grid-gap: 0;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;

    .member {
      margin-left: 10px;
      margin-right: 10px;

      span {
        display: inline-block;

        &.bName {
          width: 170px;
        }

        &.wName {
          width: 100px;
        }

        &.pos {
          width: 20px;
        }
      }

      &:hover {
        background-color: #eee;
      }

      input {
        display: inline;
        margin-right: 3px;
      }

      button {
        width: 25px;

        span {
          width: 10px;
        }
      }
    }
  }

  button {
    width: 200px;
  }
}
