:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-style: none;
}

div.panel-title {
  .data {
    font-size: 0.9em;
  }
}

.bus-list .panel-contents {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 4fr 20px 2fr;
  grid-template-areas:
    'select xx buttons'
    'booked xx others ';

  .walk-select {
    grid-area: select;
    border: green thick solid;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    padding-top: 5px;

    &:focus {
      outline-width: 0;
    }

    img {
      height: 40px;
    }
  }

  .booked-members {
    grid-area: booked;
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 1;
    // grid-column-end: 2;
  }
}

.bus-list {
  .booked-members {
    max-height: 500px;
    display: grid;
    grid-template-rows: repeat(14);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }

  .others {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .others,
  .booked-cars,
  .waiting-list {
    .member {
      // margin-bottom: 10px;
    }

    button {
      margin-left: 10px;
    }
  }

  .booked-cars,
  .others,
  .booked-members,
  .waiting-list {
    align-items: start;
    column-gap: 8px;
    row-gap: 0;
    grid-auto-flow: column;

    .seats-available {
      grid-row: 14 / span 2;
      grid-column: 4;
      width: 100%;
      // margin-left: 10px;
      // margin-right: 10px;
      border: black thin solid;
      border-radius: 5px;
      text-align: center;
    }

    .member {
      position: relative;
      color: green;
      display: flex;
      justify-content: space-between;
      padding: 0;
      cursor: pointer;

      .annotation {
        font-size: 0.7em;
      }

      &:hover {
        background-color: #eee;
      }

      input {
        display: inline;
        margin-right: 3px;
      }

      button {
        width: 25px;
        margin-right: 20px;
      }
    }
  }
}
