/**
 * Slanted tabs with CSS 3D transforms
 * See http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/
 */

.nav {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.nav .link {
  position: relative;
  display: inline-block;
  padding: 1.5em 1.5em 1em;
  color: inherit;
  text-decoration: none;
  &::before {
    border: 0.1em solid #aaa;
    content: '';
    /* To generate the box */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0.5em;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #ddd;
    box-shadow: 0 2px hsla(0, 0%, 100%, 0.5) inset;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
  }
  &:hover {
    cursor: pointer;
  }
  &.selected {
    z-index: 2;
    &::before {
      margin-bottom: -1px;
      border-top-width: 1px;
      background: #eee;
    }
  }
}

.nav.left .link {
  padding: 1.5em 2em 1em 1em;
  &::before {
    transform-origin: bottom left;
  }
}

.nav.right .link {
  padding: 1em 1em 1em 1.5em;
  &::before {
    transform-origin: bottom right;
  }
}

.maincontent {
  background: #eee;
  border: 0.1em solid #aaa;
  display: block;
  margin: 0px 0 0 0;
  padding: 1em;
  border-radius: 3px;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}
