:root {
  --primary-color: #428bca;
  --success-color: #dff0d8;
  --info-color: #d9edf7;
  --warning-color: #fcf8e3;
  --danger-color: #f2dede;
  --warning-color: yellow;
  --border-color: #bce8f1;
  --header-text-color: #31708f;
  --background-color: #d9edf7;
  --radius: 5px;
}

.logHeader {
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: #bce8f1 solid thin;
}

.payments-summary {
  border: #bce8f1 solid thin;
  border-collapse: collapse;
  width: 100%;

  section {
    display: flex;
    flex-direction: row;
  }

  .all-debts {
    display: flex;
    flex-direction: row;
  }


  .summary.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }

  .summary {
    width: 666px;
    padding: 5px;
    border: gray solid thin;

    .block {
      padding-left: 5px;
      padding-right: 5px;
    }

    .line {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &.detail {
        color: blue;
        padding-right: 6em;
        padding-left: 6em;
      }

      &.bank {
        font-weight: bold;
        font-size: 1.2em;
      }

      &.error {
        color: red;
      }

      .value {
        display: flex;

        span {
          display: inline-block;
          min-width: 3em;
          text-align: right;
        }
      }
    }
  }
}
