:root {
  --primary-color: #428bca;
  --success-color: #dff0d8;
  --info-color: #d9edf7;
  --warning-color: #fcf8e3;
  --danger-color: #f2dede;
  --warning-color: yellow;
  --border-color: #bce8f1;
  --header-text-color: #31708f;
  --background-color: #d9edf7;
  --radius: 5px;
}

.logHeader {
  color: #31708f;
  background-color: #d9edf7;
  border-bottom: #bce8f1 solid thin;
}

.payments {
  border: #bce8f1 solid thin;
  border-collapse: collapse;
  width: 100%;

  span {
    display: inline-block;
  }

  .overview {
    .walk-detail {
      width: 180px;
      padding-right: 5px;
    }
  }

  .reciptsContainer,
  .all-debts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
  }

  .all-payments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 100%;
  }

  .all-payments,
  .all-debts {
    .buttons {
      display: flex;
      flex-direction: row;
      padding-bottom: 4px;
      max-width: 280px;
    }
  }

  .overview,
  .header {
    background-color: var(--background-color);
    border-radius: var(--radius);
    border-bottom: var(--border-color) thin solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2px 5px;

    .who {
      width: 200px;
      font-size: 1.1em;
      font-weight: bold;
      padding-right: 5px;
    }

    .owed {
      width: 60px;
      text-align: center;
    }

    .paid {
      width: 60px;
      text-align: center;
      margin-left: 20px;

      input {
        width: 40px;
        font-size: 0.85em;
      }
    }
  }

  .header {
    width: 33%;

    span {
      font-size: 1.1em;
      font-weight: bold;
    }
  }

  .debtor {
    color: var(--header-text-color);
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 4px;
    border: var(--border-color) thin solid;
    border-radius: var(--radius);
    width: 310px;
    max-width: 310px;

    .owed {
      font-size: 0.85em;
      padding: 2px;
    }
  }

  .details {
    position: relative;
    padding: 3px 20px;

    .text {
      position: relative;
      top: 5px;
      min-width: 130px;
      max-width: 130px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .name {
      font-size: 0.9em;
      font-style: italic;
    }
  }
}
